@page "/"
@using BlazorApp.Components.CartItemsProduct
@using BlazorApp.Components.DateComponents
@using BlazorApp.Components.MainQuantityInput
@using BlazorApp.Components.ModulesSelection
@using BlazorApp.Components.Search
@using BlazorApp.Components.NewComp



<div class="container">
    <div class="form-wrapper">
        <div class="row">
            <div class="col">
                <Searchbox @bind-Query=@Query IsSearching=IsSearching OnSubmit=SubmitSearch
                    Visible=@IsSearchFormVisible />
            </div>
        </div>
    </div>
    @if (IsMainFormVisible)
    {
        <div class="row">
            <div class="col">

                <CardDeck Items=items RemoveItem=RemoveItem />
            </div>
            <div class="col-3">
                <DateForm>
                    <DatePicker @bind-Date="expirationDate" Id="expirationDate" Label="Expiration Date" />
                    <DatePicker @bind-Date="activationDate" Id="activationDate" Label="Activation Date" />
                </DateForm>
                <fieldset>
                    <QuantityInput @bind-Item="MainItem" AskForRecalculate="( () => CalculatePrice())" />
                    <ModuleSelect Items=items AddNewItem=AddItem AvailableModules=AvailableModules />
                    <NewTest OnSubmit="SubReturn" />
                    <p>@TotalCost</p>
                </fieldset>
            </div>
        </div>
    }

</div>
