@page "/"
@using BlazorApp.Components.CartItemsProduct
@using BlazorApp.Components.DateComponents
@using BlazorApp.Components.MainQuantityInput
@using BlazorApp.Components.ModulesSelection
@using BlazorApp.Components.Search
@using BlazorApp.Components.NewComp



<div class="container">
    <div class="form-wrapper">
        <div class="row">
            <div class="col">
                <Searchbox @bind-Query=@Query  @bind-Query2=@Query2 IsSearching=IsSearching OnSubmit=SubmitSearch
                           Visible=@IsSearchFormVisible />
            </div>
            
        </div>
    </div>
    @if (IsMainFormVisible)
    {
        <div class="row">
            <div class="col">

                <CardDeck Items=items RemoveItem=RemoveItem />
            </div>
            <div class="col-3">
                <DateForm>
                    <DatePicker @bind-Date="expirationDate" Id="expirationDate" Label="Expiration Date" />
                    <DatePicker @bind-Date="activationDate" Id="activationDate" Label="Activation Date" />
                </DateForm>
                <fieldset >
                    <Counter @bind-CurrentCounterValue=@NewValuePassed Fname=@Query Sname=@Query2 />
                    <QuantityInput @bind-Item="MainItem" AskForRecalculate="( () => CalculatePrice())" />
                    <ModuleSelect Items=items AddNewItem=AddItem AvailableModules=AvailableModules />
                    <NewTest OnSubmit="SubReturn" Propnew="ebala ena stringg " />

                    <p>@TotalCost</p>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="counter">

                            <button> Return to Counter</button>
                        </NavLink>
                    </li>
                </fieldset>
            </div>
        </div>
    }

</div>
